.header{
    display: flex;
    align-items: center;

}
.header a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.header .logo{
    height: 3.2rem;
    width: 4rem;
}
.header .title-group{
    padding-left: 2.5rem;
    margin-left: 2rem;
}
.header .title-group i {
    padding-right: 1rem;
}