
<mat-card class="mat-elevation-z4">
  <mat-card-title>Hello {{name}} !</mat-card-title>
  <mat-card-subtitle>
    Welcome to {{ title }}!<br>
    This is how you call a {{variable}} in angular !
  </mat-card-subtitle>
</mat-card>

<h2 style="margin-left:10rem;">Here are some links to help you start: </h2>
<ul style="margin-left:9.5rem;">
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Angular Tutorial</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
